<!DOCTYPE html>
<html>

<head>
    <title>Wound Biologics: Code to Reset Password </title>
</head>

<body>
    <p>Hello {{ firstname }} {{lastname}},</p>
    <p>We received a request to reset your password for your account on Wound Biologics</p>
    <p>Here is the code to reset your password.</p>
    <p><b>Caution:</b> Never share with anyone.</p>
    <div>
        <p><b>Your Password Reset Code:</b> {{code}}</p>
        <p>This code will expire in {{expiryInMinutes}} Minutes.</p>
    </div>

    <div>
        <p>Thanks</p>
    </div>

</body>

</html>