<html>

    <head>
        <title>Wound Biologics: One time password </title>
    </head>

    <body>
        <p>Hello {{firstname}} {{lastname}},</p>
        <p>Here is the One time password for your account on Wound Biologics</p>
        <div>
            <p><b>Your One time password code:</b> {{code}}</p>
            <p>This code will expire in {{expiryInMinutes}} Minutes.</p>
        </div>
        <p><b>Caution:</b> Never share with anyone.</p>
        <div>
            <p>Thanks</p>
        </div>

    </body>

</html>