<!DOCTYPE html>
<html>

<head>
    <title>Welcome to Our Platform</title>
</head>

<body>
    <p>Hello {{ firstname }} {{lastname}},</p>
    <p>Welcome to our Wound Biologics! We're excited to have you on board.</p>
    <p> Here is your temporary credentials to watch out our extra ordinary platform!
    <p>
    <div>
        <p><b>password:</b> {{password}}</p>
    </div>

    <div>
        <p>Thanks</p>
    </div>

</body>

</html>